name: AppMap Analysis

on:
  workflow_call:
    inputs:
      runner-name:
        required: false
        type: string
        default: ubuntu-latest
      directory:
        required: false
        type: string
        default: .
      bootstrap:
        required: false
        type: boolean
        default: false

jobs:
  analyze:
    # If your organization has 4-core runners available, you should change this line to use
    # those runners. 4 cores offers the best performance for AppMap analysis.
    runs-on: ${{ inputs.runner-name }}
    permissions:
      contents: read
      actions: read
      checks: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install AppMap tools
        id: install-appmap
        uses: getappmap/install-action@v1
        with:
          directory: ${{ inputs.directory }}
          install-appmap-library: false

      - name: Restore AppMaps
        uses: actions/cache/restore@v3
        with:
          path: ${{ inputs.directory }}/${{ steps.install-appmap.outputs.appmap-dir }}
          key: appmaps-${{ github.sha }}-${{ github.run_attempt }}

      - name: Archive AppMaps
        if: inputs.bootstrap || ( github.event_name != 'pull_request' )
        uses: getappmap/archive-action@v1
        with:
          revision: ${{ github.event.pull_request.base.sha || github.sha }}
          directory: ${{ inputs.directory }}

      - name: Remove archive info file
        if: inputs.bootstrap
        run: rm ${{ inputs.directory }}/tmp/appmap/appmap_archive.json

      - name: Analyze AppMaps
        uses: getappmap/analyze-action@v1
        if: github.event_name == 'pull_request'
        with:
          directory: ${{ inputs.directory }}
          base-revision: ${{ github.event.pull_request.base.sha }}
          head-revision: ${{ github.event.pull_request.head.sha }}
